/*-------------------
Responsive Parts with Media Query 
----------------------------------*/
/* 
# Phone
only screen and (max-width:320px)
# Tablet
only screen and (min-width:321px) and (max-width:768px)
# Desktop
only screen and (min-width:769px)
/* --------------------------
Mobile Device---------------------
*/
@media (min-width: 320px) and (max-width: 480px) {
    .hero-area{
    /*  display: grid;
    grid-template-rows: 100%, 100%;
    text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .hero-side {
    width: 100%;
    text-align: center;
    }
    .hero-img {
    width: 100%;
    text-align: center;
    padding-top: 55px;
    }
    .product-items {
    display: grid;
    grid-template-columns: 1fr;
    /* margin: auto; */
    /* justify-content: center; */
    grid-row-gap: -1px;
    /* grid-column-gap: 5rem; */
    /* text-align: center; */
    }
    .sign-area {
    display: flex;
    flex-direction: column;
    }
    .sign-up-text{
    text-align: center;
    margin-right: 90px;
    }
    .more-email {
    margin: 29px 0px;
    margin-left: 90px;
    text-align: center;
    }
    .app-title {
    margin-bottom: 15px;
    text-align: center;
    }
    }
    /* --------------------------------
    Tablet Device ------------------------ */
    @media (min-width: 481px) and (max-width: 767px) {
    /* CSS */
    .hero-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .hero-side {
    width: 100%;
    text-align: center;
    }
    .hero-img {
    width: 100%;
    text-align: center;
    padding-top: 55px;
    }
    .product-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-row-gap: -1px;
    }
    .item-texts {
    text-align: center;
    /* margin-left: 24px; */
    }
    .last-item{
    width: 100%;
    margin: auto;
    }
    .sign-area {
    display: flex;
    flex-direction: column;
    }
    .sign-up-text{
    text-align: center;   
    margin-right: 90px;
    }
    .sign-up-form input[type="submit"] {
    border-radius: 10px;
    width: 97%;
    display: block;
    margin-top: 20px;
    }
    .sign-up-form input[type="text"] {
    padding: 12px 127px;
    border-radius: 10px;
    border: 1px solid grey;
    }
    .more-email {
    margin: 29px 0px;
    margin-right: 90px;
    text-align: center;
    }
    .app-title {
    margin-bottom: 15px;
    text-align: center;
    }
    }